<p id="notice"><%= notice %></p>
  <h1 class= "section-heading" style="color:orange;font-size:400%;font-family:'Contrail One',cursive;">Your Cart</h1>

<div class="cart_summary">
  <table>
    <%@cart.line_items.each do |item|%>
    <tr>
      <td><%= item.quantity %>&times;</td>
      <td><%= item.product.title %></td>
      <td class="item_price"><%= number_to_currency(item.total_price) %></td>
    </tr>
    </div>
    <% end %>

    <tr class="total_line">
      <td colspan="2">Total:</td>
      <td class="total_cell"><%= number_to_currency(@cart.total_price) %></td>
    </tr>

  </table>

  <div class="checkout_button">
    <%= button_to "Checkout", new_order_path, method: :get %>
  </div>
  <div class="delete_button">
  <%= button_to 'Delete', cart_path(@cart), method: :delete %>

  <%= link_to 'Edit', edit_cart_path(@cart) %>

  <%= link_to 'Back', products_path %>
  </div>
