<p id="notice"><%= notice %></p>

<h1>Products</h1>

<br>

<div class="xop-section">
  <ul class="xop-grid">
      <% @products.each do |product| %>
      <div class="xop-box">
        <span class="xop-img"><%= image_tag(product.image_url, :class => "stlye-img") %></span>
        <div class="xop-info">
          <h3><%= product.title %></h3>
          <p><%= product.title %></p>
          <p><%= link_to 'Show', product %></p>
          <h3><%= product.price %></h3>
        </div>
        <div class="add_cart"><%= button_to 'Add to Cart', line_items_path(product_id: product) %></div>
      </div>

    <% end %>
  </ul>
</div>

<%= link_to 'New Product', new_product_path %>
